.stats {
  display: flex;
  margin: 0 auto;
  max-width: 450px;
}

.description {
  margin: 0 auto;
  max-width: 450px;
  background-color: #fff;
}

.avatar {
  margin: 0 auto;
  border-radius: 50%;
}

.label {
  display: block;
}

.item {
  width: 150px;
  border: 1px solid;
}
